.backGroundIndex{
    background-color: var(--purple-900);
    p {
            color: black !important;
        }
}

.backDev {
    background-color: rgb(245, 190, 242);
    width: 100%;
    padding: 20px;
   
    p{
        color: black!important;
    }
}

.textColor{
    color: black !important;
    p{
        color: black !important;
    }
}